@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", "Pretendard", sans-serif;
}

@layer base {
  *, html, body {
    font-family: var(--font-sans);
  }
}